.button{
  padding: 15px 20px;
  font-size: 1.2em;
  color: #ffffff;
  background-color: #FF9900;
  border: 0;
  border-radius: 10px;
  font-weight: 700;

}
button[disabled]{
  background-color: #868585;
}

