.gg{
  width: 300px;
}
.secondaryHeart{
  position: absolute;
  z-index: 1;
  top: 70px;
  right: 70px;
}
.sectionWrapper{
  flex-basis: 400px;
  z-index: 100;
}
.sectionSpanText{
  font-weight: 600;
  font-size: 20px;
  p{
    font-size: 32px;
    font-weight: 800;
  }
}
.primarySectionWrapper{
  text-align: center;
  flex-basis: 600px;
  margin-bottom: 10rem;
  p:first-child{
    font-size: 1.6em;
  }
}
svg{
  position: absolute;
  width: 100%;
  top: 10rem;
}
